﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ManageProductCategory.aspx.cs" Inherits="Pages_Manage_ManageProductCategory" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .auto-style1 {
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p class="auto-style1" style="height: 49px; width: 191px">
        Category Name:
    </p>
    <asp:TextBox ID="TextBox1" runat="server" Height="30px" style="margin-left: 2px"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Submit" />
    <br />
    <br />
    <asp:Label ID="Label1" runat="server"></asp:Label>
    <br />


</asp:Content>

