﻿body
{
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}

#wrapper
{
    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color: gray;
}

#banner
{
    
}

#navigation
{
    height: 60px;
    background: white;
}

#nav
{
    display: block;
    list-style: none;
    text-align: center;
}

#nav ul {
    display: none;
    list-style: none;
}

#nav li {
    float: left;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #FFFFFF;
}

#nav a:link , #nav a :visited, #nav a:active 
{
    display: block;
    color: #574c3f;
    text-decoration: none;
}

#nav a:hover {
    background-color: black;
}

#content
{
    padding: 20px;
    min-height: 400px;
}
